<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #canvas {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script>

        window.addEventListener("load", () => {
            const canvas = document.querySelector("#canvas");
            const ctx = canvas.getContext("2d");
            // Resizing
            canvas.height = window.innerHeight;
            canvas.width = window.innerWidth;

            var raw_triangle_data = "{{td}}";
            var triangles = raw_triangle_data.split(";");
            triangles.forEach(element => {
                data = element.split(",");
                x = parseInt(data[0]);
                y = parseInt(data[1]);
                usd = Boolean(parseInt(data[2]));
                size = parseInt(data[3]);
                color = data[4];

                draw_triangle(ctx, x, y, usd, size, color, false);
            });
        })

        function draw_triangle(ctx, x, y, upsidedown, size, color, outlined) {
            // Set up values
            ctx.fillStyle = color;
            ctx.strokeStyle = color;
            ctx.lineWidth = 5;
            var stroke_offset = ((outlined) ? 5 : 0);

            // Draw
            ctx.beginPath();
            if (upsidedown) {
                ctx.moveTo(x + stroke_offset, y + stroke_offset);
                ctx.lineTo(x+size - stroke_offset, y + stroke_offset);
                ctx.lineTo(x+size*0.5, y+size*0.866 - stroke_offset);
                ctx.lineTo(x + stroke_offset, y + stroke_offset);
            } else {
                ctx.moveTo(x+stroke_offset, y+size*0.866-stroke_offset);
                ctx.lineTo(x+size-stroke_offset,y+size*0.866-stroke_offset);
                ctx.lineTo(x+size*0.5, y+stroke_offset);
                ctx.lineTo(x+stroke_offset, y+size*0.866-stroke_offset);
            }

            // Check if you want to fill or no
            if (outlined) {
                ctx.stroke();
            } else {
                ctx.fill();
            }
        }

    </script>
    
</body>
</html>